
.l-header {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    z-index: 101
}

.l-header.is-rev:not(.is-3rd) {
    background-color: transparent
}

.is-top .l-header.is-rev:not(.is-3rd) {
    color: #fff
}

.is-top .l-header.is-rev:not(.is-3rd)::before {
    content: "";
    display: block;
    background: linear-gradient(to bottom, #0f78b9 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4
}

.is-top .l-header.is-rev:not(.is-3rd) a {
    color: #fff
}

.l-header.is-3rd:not(.is-change) {
    background-color: transparent
}

body.is-fixed:not(.is-mac) .l-header {
    right: 17px
}

@media print, screen and (max-width: 768px) {
    body.is-fixed:not(.is-mac) .l-header {
        right: 0
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header {
        transition: all 0.2s, background-color 0.1s
    }
}

@media print, screen and (min-width: 769px) {
    .l-header:not(.is-change) {
        height: 110px
    }
}

@media print, screen and (max-width: 768px) {
    .l-header:not(.is-change) {
        height: 4rem
    }
}

.l-header.is-change {
    position: fixed
}

@media print, screen and (min-width: 769px) {
    .l-header.is-change {
        height: 60px
    }
}

@media print, screen and (max-width: 768px) {
    .l-header.is-change {
        height: 4rem
    }
}

.l-header.is-scrollHide:not(.is-navOpen) {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}

.l-header__inner {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    z-index: 2;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
    transition: transform 0.15s, -webkit-transform 0.15s;
    z-index: 2
}

@media print, screen and (min-width: 1025px) and (max-width: 1280px) {
    .l-header__inner {
        padding-left: 35px;
        padding-right: 35px
    }
}

@media print, screen and (min-width: 769px) and (max-width: 1024px) {
    .l-header__inner {
        padding-left: 35px;
        padding-right: 35px
    }
}

@media print, screen and (max-width: 768px) {
    .l-header__inner {
        padding-left: 5vw;
        padding-right: 5vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header__inner {
        padding-left: 35px;
        padding-right: 35px
    }
}

@media print, screen and (min-width: 1025px) and (max-width: 1150px) {
    .l-header__inner {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media print, screen and (min-width: 769px) and (max-width: 1024px) {
    .l-header__inner {
        height: 65px
    }
}

@media print, screen and (max-width: 768px) {
    .l-header__inner {
        height: 15vw
    }
}

.l-header__inner:hover {
    z-index: 10
}

.l-header.is-rev {
    opacity: 0;
    -webkit-animation: headerFadeIn 0.3s 0.3s forwards;
    animation: headerFadeIn 0.3s 0.3s forwards
}

@-webkit-keyframes headerFadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes headerFadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-logo {
        flex: 0 0 210px
    }
}

@media print, screen and (min-width: 1025px) and (max-width: 1150px) {
    .l-header-logo {
        flex: 0 0 180px
    }
}

@media print, screen and (min-width: 769px) and (max-width: 1024px) {
    .l-header-logo {
        flex: 0 0 120px
    }
}

@media print, screen and (max-width: 768px) {
    .l-header-logo {
        flex: 0 0 33vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header.is-change .l-header-logo {
        flex: 0 0 120px
    }
}

.l-header.is-rev:not(.is-3rd) .l-header-logo {
    background: url(/images/common/logoW.svg) no-repeat center;
    background-size: contain
}

.l-header.is-rev:not(.is-3rd) .l-header-logo img {
    opacity: 0
}

.l-header-logo img {
    width: 100%
}

.l-header-logo a {
    display: block;
    height: 100%
}

@media print, screen and (max-width: 1024px) {
    .l-header-logo a {
        display: flex;
        align-items: center
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-wrap {
        flex: 0 0 calc(100% - 261px);
        display: flex;
        justify-content: flex-end;
        white-space: nowrap
    }

    .l-header:not(.is-change) .l-header-nav-wrap {
        padding-top: 50px
    }

    .l-header.is-change .l-header-nav-wrap {
        align-items: center
    }
}

@media print, screen and (min-width: 1025px) and (max-width: 1280px) {
    .l-header-nav-wrap {
        flex: 0 0 calc(100% - 220px)
    }
}

@media print, screen and (min-width: 1025px) and (max-width: 1150px) {
    .l-header-nav-wrap {
        flex: 0 0 calc(100% - 190px)
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-main-nav {
        display: block !important
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-main-nav {
        display: none;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 101vh;
        -webkit-transform: translateY(99.5%);
        transform: translateY(99.5%);
        background-color: #00a0e9;
        overflow: auto
    }

    .l-header-main-nav a {
        color: #fff
    }
}

@media print, screen and (min-width: 769px) and (max-width: 1024px) {
    .l-header-main-nav {
        padding: 0.5rem 35px 100px
    }
}

@media print, screen and (max-width: 768px) {
    .l-header-main-nav {
        padding: 0.25rem 5vw 30vh;
        height: 100vh;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}

.l-header-nav {
    line-height: 1.4
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav {
        display: flex
    }
}

@media print, screen and (min-width: 769px) and (max-width: 1024px) {
    .l-header-nav {
        padding-bottom: 50px
    }
}

@media print, screen and (max-width: 768px) {
    .l-header-nav {
        padding-bottom: 10vw
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-nav__category {
        border-bottom: 1px solid #0186cc
    }
}

.l-header-nav__category > a {
    color: inherit;
    font: inherit;
    font-size: 15px;
    font-size: .9375rem;
    font-weight: 500
}

@media print, screen and (min-width: 1025px) and (max-width: 1280px) {
    .l-header-nav__category > a {
        font-size: 14px;
        font-size: .875rem
    }
}

@media print, screen and (max-width: 768px) {
    .l-header-nav__category > a {
        font-size: 16px;
        font-size: 4.26667vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header.is-change .l-header-nav__category > a {
        font-size: 14px;
        font-size: .875rem
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav__category > a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        white-space: nowrap;
        padding: 0 0.95rem;
        height: 60px;
        cursor: pointer;
        position: relative;
        transition: color 0.3s;
        outline: none
    }

    .l-header-nav__category > a::after {
        content: "";
        display: block;
        height: 4px;
        background-color: #00a0e9;
        position: absolute;
        left: 1px;
        right: 1px;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.3s
    }

    .l-header-nav__category > a:hover::after, .l-header-nav__category > a:focus::after {
        opacity: 1
    }
}

@media print, screen and (min-width: 1025px) and (max-width: 1440px) {
    .l-header-nav__category > a {
        font-size: 14px;
        font-size: .875rem
    }

    .l-header.is-change .l-header-nav__category > a {
        font-size: 13px;
        font-size: .8125rem
    }
}

@media print, screen and (min-width: 1025px) and (max-width: 1280px) {
    .l-header-nav__category > a {
        font-size: 13.5px;
        font-size: .84375rem;
        padding: 0 0.75rem
    }

    .l-header.is-change .l-header-nav__category > a {
        font-size: 12px;
        font-size: .75rem
    }
}

@media print, screen and (min-width: 1025px) and (max-width: 1150px) {
    .l-header-nav__category > a {
        font-size: 13px;
        font-size: .8125rem
    }
}

.l-header-nav__category > a br {
    display: none
}

@media print, screen and (min-width: 1025px) and (max-width: 1150px) {
    .l-header.is-change .l-header-nav__category > a br {
        display: block
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-nav__category a {
        display: block;
        text-align: left;
        position: relative
    }

    .l-header-nav__category a::after {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background: url(/images/icon/arrowW.svg) no-repeat center;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 0.25rem;
        margin-top: -0.1rem
    }
}

@media print, screen and (min-width: 769px) and (max-width: 1024px) {
    .l-header-nav__category a {
        font-size: 16px;
        font-size: 1rem
    }
}

@media print, screen and (max-width: 768px) {
    .l-header-nav__category a {
        font-size: 16px;
        font-size: 4.26667vw
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-nav__category.is-hasChild > a {
        display: block;
        position: relative
    }

    .l-header-nav__category.is-hasChild > a::after {
        content: "";
        display: block;
        width: 1em;
        height: 1em;
        background: url(/images/icon/accoW.svg) no-repeat center;
        position: absolute;
        top: 50%;
        right: 0.5rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .l-header-nav__category.is-hasChild > a.is-accoOpen::after {
        -webkit-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg)
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header:not(.is-change) .l-header-nav__category.is-recruit {
        display: flex;
        align-items: center;
        padding-left: 0.8rem
    }

    .l-header:not(.is-change) .l-header-nav__category.is-recruit .is-static {
        display: none
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header.is-change .l-header-nav__category.is-recruit .l-header-btn {
        display: none
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-nav__category.is-recruit {
        display: none
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-btn a {
        color: #fff;
        font-size: 14px;
        font-size: .875rem;
        padding: 0.4rem 1.75rem;
        border: 1px solid #00a0e9;
        border-radius: 1.5rem;
        background-color: #00a0e9;
        transition: 0.3s
    }
}

@media print, screen and (min-width: 1025px) and (min-width: 1025px) and (max-width: 1280px) {
    .l-header-btn a {
        font-size: 13px;
        font-size: .8125rem;
        padding: 0.25rem 0.75rem
    }
}

@media print, screen and (min-width: 1025px) and (min-width: 1025px) and (max-width: 1150px) {
    .l-header-btn a {
        font-size: 12px;
        font-size: .75rem
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header.is-rev .l-header-btn a {
        color: #273846;
        background-color: #fff;
        border-color: #fff
    }

    .is-top .l-header.is-rev .l-header-btn a {
        color: #273846
    }

    .l-header.is-rev .l-header-btn a::after {
        background-image: url(/images/icon/blankBk.svg)
    }

    .l-header.is-rev .l-header-btn a:hover {
        color: #fff;
        background-color: #00a0e9;
        border-color: #00a0e9
    }

    .l-header.is-rev .l-header-btn a:hover::after {
        background-image: url(/images/icon/blankW.svg)
    }

    .l-header-btn a::after {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1em;
        background: url(/images/icon/blankW.svg) no-repeat center;
        margin-left: 0.25rem
    }

    .l-header-btn a:hover {
        color: #00a0e9;
        background-color: #fff
    }

    .l-header-btn a:hover::after {
        background-image: url(/images/icon/blankBl.svg)
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header:not(.is-change) .l-header-sub-nav-wrap {
        position: absolute;
        top: 4px;
        right: 35px
    }
}

@media print, screen and (min-width: 1025px) and (max-width: 1150px) {
    .l-header:not(.is-change) .l-header-sub-nav-wrap {
        right: 20px
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header.is-change .l-header-sub-nav-wrap {
        margin-left: 0.75rem
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-sub-nav {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-size: .8125rem
    }

    .l-header.is-change .l-header-sub-nav {
        font-size: 12px;
        font-size: .75rem
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-sub-nav__item {
        position: relative
    }

    .l-header-sub-nav__item + .l-header-sub-nav__item {
        padding-left: 1.2rem;
        margin-left: 1.2rem
    }

    .l-header-sub-nav__item + .l-header-sub-nav__item::before {
        content: "";
        position: absolute;
        left: 0;
        top: 1px;
        border-left: 1px solid #273846;
        height: 1rem
    }

    .l-header.is-rev:not(.is-3rd) .l-header-sub-nav__item + .l-header-sub-nav__item::before {
        border-left-color: #fff
    }

    .l-header.is-change .l-header-sub-nav__item + .l-header-sub-nav__item {
        padding-left: 0.5rem;
        margin-left: 0.5rem
    }

    .l-header-sub-nav__item a {
        display: block;
        padding-top: 0.2rem
    }

    .l-header-sub-nav__item a::after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 2px solid #00a0e9;
        margin-top: 0.2em;
        opacity: 0;
        transition: opacity0 0.25s
    }

    .l-header-sub-nav__item a:hover::after {
        opacity: 1
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-sub-nav__item {
        display: none
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-sub-nav .l-header-sub-nav .is-hasFocus .l-header-contact-btn {
        color: #00a0e9;
        background-color: #fff
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-sub-nav-sp {
        display: none
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-sub-nav-sp {
        display: flex;
        justify-content: center
    }
}

.l-header-sub-nav-sp__item + .l-header-sub-nav-sp__item {
    margin-left: 0.75rem;
    padding-left: 0.75rem;
    border-left: 1px solid #fff
}

.l-header-search {
    position: relative
}

@media print, screen and (min-width: 1025px) {
    .l-header-search {
        margin-left: .75rem
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-search {
        position: absolute;
        top: 0;
        right: 60px
    }
}

@media print, screen and (max-width: 768px) {
    .l-header-search {
        right: 15vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-search:focus-within input[type="text"] {
        width: 10rem
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-search input[type="text"] {
        color: #273846;
        font-size: 13px;
        font-size: .8125rem;
        width: 5rem;
        min-height: 0;
        padding: 0.35rem 1.75rem 0.35rem 0.7rem;
        border: 1px solid #273846;
        border-radius: 1rem;
        background-color: transparent;
        transition: width 0.25s
    }

    .l-header-search input[type="text"]:focus {
        width: 10rem;
        outline: none
    }

    body.is-top .l-header.is-rev:not(.is-3rd) .l-header-search input[type="text"]::-webkit-input-placeholder {
        color: #fff
    }

    body.is-top .l-header.is-rev:not(.is-3rd) .l-header-search input[type="text"]::-moz-placeholder {
        color: #fff;
        opacity: 1
    }

    body.is-top .l-header.is-3rd:not(.is-change) .l-header-search input[type="text"]::-webkit-input-placeholder {
        color: #273846
    }

    body.is-top .l-header.is-3rd:not(.is-change) .l-header-search input[type="text"]::-moz-placeholder {
        color: #273846;
        opacity: 1
    }

    .is-top .l-header.is-rev:not(.is-3rd) .l-header-search input[type="text"] {
        color: #fff;
        border-color: #fff
    }

    .l-header.is-change .l-header-search input[type="text"] {
        width: 100%;
        padding-right: 2rem;
        border: 1px solid #59636C
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-search input[type="text"] {
        color: #273846;
        width: 100%;
        padding: 0.5rem 2rem 0.5rem 1rem;
        border: 1px solid #59636C;
        border-radius: 1rem
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header:not(.is-change) .l-header-search__btn {
        display: none
    }

    .l-header.is-change .l-header-search__btn {
        width: 2rem;
        height: 60px;
        background: url(/images/icon/searchBk.svg) no-repeat center;
        cursor: pointer
    }

    .l-header.is-change .l-header-search__btn.is-searchOpen {
        background-image: url(/images/icon/closeBk.svg);
        background-size: 1rem auto
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-search__btn {
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        right: 0;
        background: url(/images/common/sp_nav_searchBk.svg) no-repeat center
    }

    .l-header.is-rev:not(.is-3rd) .l-header-search__btn {
        background: url(/images/common/sp_nav_searchW.svg) no-repeat center
    }

    .l-header-search__btn.is-searchOpen {
        background-image: url(/images/common/sp_nav_btn_closeBk.svg)
    }

    .l-header.is-rev:not(.is-3rd) .l-header-search__btn.is-searchOpen {
        background-image: url(/images/common/sp_nav_btn_closeW.svg)
    }
}

@media print, screen and (max-width: 768px) {
    .l-header-search__btn {
        width: 15vw;
        height: 15vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-search__box, .l-header-search .mf_finder_header {
        position: relative
    }

    .l-header.is-change .l-header-search__box, .l-header.is-change .l-header-search .mf_finder_header {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15rem;
        padding: 1rem;
        background-color: #fff;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    .l-header.is-change .l-header-search__box.is-open, .l-header.is-change .l-header-search .mf_finder_header.is-open {
        display: block
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-search__box, .l-header-search .mf_finder_header {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        padding: 2rem 35px;
        background-color: #fff
    }

    .l-header-search__box input[type="text"], .l-header-search .mf_finder_header input[type="text"] {
        width: 100%
    }
}

@media print, screen and (min-width: 769px) and (max-width: 1024px) {
    .l-header-search__box, .l-header-search .mf_finder_header {
        top: 60px
    }
}

@media print, screen and (max-width: 768px) {
    .l-header-search__box, .l-header-search .mf_finder_header {
        top: 15vw
    }
}

.l-header-search__submit, .l-header-search .mf_finder_searchBox_submit {
    display: block;
    position: absolute;
    top: 0;
    right: 0.5rem;
    bottom: 0;
    width: 1.25rem;
    background: url(/images/icon/searchBk.svg) no-repeat center;
    margin: auto;
    padding: 0;
    height: 1.25rem
}

.l-header-search__submit::before, .l-header-search .mf_finder_searchBox_submit::before {
    content: none
}

@media print, screen and (max-width: 1024px) {
    .l-header-search__submit, .l-header-search .mf_finder_searchBox_submit {
        top: 2rem;
        bottom: 2rem;
        width: 2.5rem;
        right: 0.5rem
    }
}

@media print, screen and (max-width: 768px) {
    .l-header-search__submit, .l-header-search .mf_finder_searchBox_submit {
        right: .5rem
    }

    .l-header-search__submit::before, .l-header-search .mf_finder_searchBox_submit::before {
        content: none
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header.is-rev:not(.is-3rd) .l-header-search__submit, .l-header.is-rev:not(.is-3rd) .l-header-search .mf_finder_searchBox_submit {
        background-image: url(/images/icon/searchW.svg)
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header.is-change .l-header-search__submit, .l-header.is-change .l-header-search .mf_finder_searchBox_submit {
        width: 1.25rem;
        height: 1.25rem;
        top: 1.4rem;
        right: 0.5rem;
        bottom: auto
    }
}

@media print, screen and (min-width: 1025px) {
    body.is-top .l-header-nav__category.is-top > a, body.is-top .l-header-nav__category.is-top > button {
        color: #00a0e9
    }

    body.is-top .l-header-nav__category.is-top > a::after, body.is-top .l-header-nav__category.is-top > button::after {
        opacity: 1
    }
}

.l-header-nav-category-wrap {
    color: #fff
}

.l-header-nav-category-wrap a {
    color: #fff
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-category-wrap {
        visibility: hidden;
        background-color: #00a0e9;
        width: calc(100vw - 9px);
        margin: 0 calc(50% - 50vw);
        padding: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: translateY(99.9%);
        transform: translateY(99.9%);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s, padding 0.3s;
        white-space: normal;
        z-index: 100
    }

    body.is-mac .l-header-nav-category-wrap {
        width: 100vw
    }

    .l-header-nav-category-wrap.is-open {
        visibility: visible;
        pointer-events: auto;
        padding: 3rem 0 5rem;
        opacity: 1
    }

    .l-header-nav__category.is-hasChild.is-contact .l-header-nav-category-wrap {
        padding-top: 0.75rem
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-nav-category-wrap {
        display: none
    }

    .l-header-nav-category-wrap .l-inner {
        padding: 0
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-category {
        display: flex
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-category__label {
        flex: 0 0 30%
    }

    .l-header-nav-category__label a {
        font-size: 24px;
        font-size: 1.5rem
    }

    .l-header-nav-category__label a:hover::after {
        margin-left: 1rem
    }

    .l-header-nav-category__label a::after {
        content: "";
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        background: url(/images/icon/arrowBl_BgW.svg) no-repeat center;
        background-size: contain;
        vertical-align: -0.15em;
        transition: margin-left 0.3s
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-nav-category__label {
        display: none
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-category__body {
        flex: 1;
        display: flex
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-nav-category__body {
        padding-bottom: 0.75rem
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-category__bodyCol {
        padding: 0 4%
    }

    .l-header-nav-category__bodyCol.is-separate {
        border-left: 1px solid #fff;
        margin-left: auto
    }
}

.l-header-nav-category__bodyCol a {
    display: block;
    line-height: 1.4
}

.l-header-nav-category__bodyCol a:focus {
    text-decoration: underline
}

@media (hover: hover) and (pointer: fine) {
    .l-header-nav-category__bodyCol a:hover {
        text-decoration: underline
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-category__bodyCol a + a {
        margin-top: 1rem
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-btn {
        display: none
    }
}

@media print, screen and (max-width: 1024px) {
    .l-header-nav-btn {
        display: block;
        width: 60px;
        height: 60px;
        background: url(/images/common/sp_nav_btnBk.svg) no-repeat center;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 110
    }

    .l-header-nav-btn::before {
        content: "";
        background-color: #fff;
        width: 1px;
        height: 2.35rem;
        margin: auto 0;
        position: absolute;
        left: 0;
        top: 0.75rem
    }

    .is-change .l-header-nav-btn::before, .is-3rd .l-header-nav-btn::before {
        background-color: #333
    }

    .l-header.is-rev:not(.is-3rd) .l-header-nav-btn {
        background-image: url(/images/common/sp_nav_btnW.svg)
    }

    .l-header-nav-btn.is-navOpen {
        position: fixed;
        background-image: url(/images/common/sp_nav_btn_closeW.svg) !important;
        background-color: #00a0e9
    }

    .l-header-nav-btn.is-navOpen::before {
        content: none
    }
}

@media print, screen and (max-width: 768px) {
    .l-header-nav-btn {
        width: 15vw;
        height: 15vw
    }
}

.l-header.is-3rd:not(.is-State--Show) {
    background-color: transparent
}

.l-header.is-State--Show {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: initial
}

.is-top .l-header.is-State--Show {
    background: #fff
}

@media screen and (max-width: 768px) {
    .l-header-sub-nav-sp {
        line-height: 1.3;
        letter-spacing: 0
    }
}

@media screen and (max-width: 768px) {
    .l-header-sub-nav-sp__item + .l-header-sub-nav-sp__item {
        margin-left: 2.66vw;
        padding-left: 2.66vw
    }
}

.l-header-nav-category__body .p-Icon--Blank {
    display: inline-block;
    fill: #fff
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-category__body a:hover .p-Icon--Blank {
        fill: #fff
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-category__body.is-between {
        justify-content: space-between
    }
}

@media print, screen and (min-width: 769px) {
    .l-header-nav-category__body .p-Icon--Blank {
        width: .87rem;
        margin-left: .62rem
    }
}

@media screen and (max-width: 768px) {
    .l-header-nav-category__body .p-Icon--Blank {
        width: 3.73vw;
        margin-left: 2.66vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header-nav-category__label {
        padding-top: .62rem;
        border-right: 1px solid #fff
    }
}

@media screen and (max-width: 1024px) {
    .l-header-nav-category__label {
        display: block;
        font-weight: 600
    }
}

.l-header {
    background: #fff
}

.l-header.is-rev:not(.is-3rd) .l-header-sub-nav__item + .l-header-sub-nav__item::before {
    border-left-color: #273846
}

.is-top .l-header.is-rev:not(.is-3rd) .l-header-sub-nav__item + .l-header-sub-nav__item::before {
    border-left-color: #fff
}

.l-header.is-rev:not(.is-3rd) .l-header-logo img {
    opacity: 1
}

.is-top .l-header.is-rev:not(.is-3rd) .l-header-logo img {
    opacity: 0
}

body:not(.is-top) .l-header.is-rev:not(.is-3rd) .l-header-search .mf_finder_searchBox_submit {
    background-image: url("../images/icon/searchBk.svg")
}

.l-header.is-change:not(.is-3rd) {
    background-color: #fff
}

.is-top .l-header {
    background: none
}

.is-top .l-header.is-change {
    background: #fff
}

@media print, screen and (min-width: 1025px) {
    .l-header:not(.is-change) {
        height: 6.25rem
    }

    .l-header .l-header-sub-nav__item + .l-header-sub-nav__item {
        margin-left: .62rem;
        padding-left: .62rem
    }

    .l-header .l-header-search {
        margin-left: 1.25rem
    }

    .l-header .l-header-search .mf_finder_searchBox {
        margin-left: 0
    }
}

@media screen and (max-width: 1024px) {
    .l-header:not(.is-change) {
        height: 3.56rem
    }
}

@media screen and (max-width: 768px) {
    .l-header:not(.is-change) {
        height: 15.2vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-header__inner {
        height: 100%
    }
}

@media screen and (max-width: 1024px) {
    .l-header__inner:not(.is-change) {
        height: 3.56rem
    }
}

@media screen and (max-width: 768px) {
    .l-header__inner:not(.is-change) {
        height: 15.2vw
    }
}

.l-header-nav__category.is-State--Current > a::after {
    opacity: 1
}

@media print, screen and (min-width: 1025px) {
    .l-header-search {
        width: auto
    }

    .l-header-search .p-Icon--Search {
        width: .87rem
    }

    .is-change .l-header-search {
        width: 2.5rem
    }

    .is-en .l-header-search input[type="text"] {
        width: 5.62rem
    }

    .is-en .l-header-search input[type="text"]:focus {
        width: 10rem
    }

    .is-en .is-change .l-header-search input[type="text"] {
        width: 100%
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .l-header-search {
        top: .25rem;
        right: 3.75rem
    }
}

@media screen and (max-width: 768px) {
    .l-header-search {
        top: 1.06vw;
        right: 16vw
    }

    .l-header-search input[type="text"] {
        border-radius: 10.66vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-Header__NaviWrap .l-header-nav__category > a:hover {
        color: #273846;
        text-decoration: none
    }

    .l-Header__NaviWrap .l-header-nav-category-wrap a:hover {
        color: #fff
    }
}

@media print, screen and (min-width: 1025px) {
    .l-Header__NaviWrap .l-header-main-nav {
        transition: all 0.3s;
        top: 0;
        z-index: 1;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }

    .l-Header__NaviWrap .l-header-main-nav.is-slide {
        padding-right: 9.37rem
    }

    .is-change .l-Header__NaviWrap .l-header-main-nav.is-slide {
        padding-right: 0
    }

    .l-Header__NaviWrap .l-header-nav__category {
        letter-spacing: .12rem;
        text-indent: .12rem
    }

    .is-en .l-Header__NaviWrap .l-header-nav__category {
        letter-spacing: 0;
        text-indent: 0
    }

    .l-Header__NaviWrap .l-header-nav__category > a {
        height: 6.25rem;
        padding-right: .62rem;
        padding-left: .62rem
    }

    .is-change .l-Header__NaviWrap .l-header-nav__category > a {
        height: 3.75rem
    }

    .l-Header__NaviWrap .l-header-nav-category__bodyCol {
        padding-top: .93rem;
        padding-bottom: 3.75rem
    }

    .l-Header__NaviWrap .l-header-nav-category__bodyCol a + a {
        margin-top: 1.87rem
    }

    .l-Header__NaviWrap .l-header-nav-category__bodyCol.is-separate {
        border-left-color: #5AC2F2;
        margin-left: 0
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__NaviWrap .l-Inner--1200 {
        padding-right: 0;
        padding-left: 0
    }

    .l-Header__NaviWrap .l-header-main-nav {
        padding-top: 1.87rem
    }

    .l-Header__NaviWrap .l-header-main-nav {
        border-top: 1px solid #0186cc
    }

    .l-Header__NaviWrap .l-header-nav__category.is-hasChild .is-accoOpen {
        border-bottom: 1px solid #0186cc
    }

    .l-Header__NaviWrap .l-header-nav__category.is-recruit {
        display: block
    }
}

@media screen and (max-width: 768px) {
    .l-Header__NaviWrap .l-header-nav__category {
        letter-spacing: .53vw;
        text-indent: .53vw
    }

    .is-en .l-Header__NaviWrap .l-header-nav__category {
        letter-spacing: 0;
        text-indent: 0
    }

    .l-Header__NaviWrap .l-header-main-nav {
        padding-top: 8vw
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__Navi {
        border-top: 1px solid #0186cc
    }
}

@media print, screen and (min-width: 1025px) {
    .l-Header__Button {
        display: block;
        background: #fff;
        padding: .31rem .93rem;
        border: 1px solid #273846;
        border-radius: 2.5rem;
        transition: all .3s ease
    }

    .is-rev:not(.is-3rd) .l-Header__Button {
        color: #273846
    }

    .is-hasFocus .l-Header__Button {
        color: #fff;
        background: #00a0e9;
        border-color: #00a0e9
    }

    .is-rev:not(.is-3rd) .is-hasFocus .l-Header__Button {
        color: #fff
    }
}

@media print, screen and (min-width: 1025px) {
    .is-button .l-Header__NaviLevel1::after {
        display: none
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__NaviLevel1 {
        padding-top: .93rem;
        padding-bottom: .93rem
    }

    .is-en .is-nonChildSP .l-Header__NaviLevel1::after {
        content: '';
        display: block;
        width: 1em;
        height: 1em;
        background: url(../images/icon/accoW.svg) no-repeat center;
        position: absolute;
        top: 50%;
        right: 0.5rem;
        -webkit-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg)
    }

    .is-hasChild .l-Header__NaviLevel1 {
        padding-right: 1.56rem
    }

    .is-en .is-nonChildSP .l-Header__NaviLevel1 {
        padding-right: 1.56rem
    }
}

@media screen and (max-width: 768px) {
    .l-Header__NaviLevel1 {
        padding-top: 4vw;
        padding-bottom: 4vw
    }

    .is-hasChild .l-Header__NaviLevel1 {
        padding-right: 6.66vw
    }

    .is-en .is-nonChildSP .l-Header__NaviLevel1 {
        padding-right: 6.66vw
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__NaviLevel2 {
        padding: 1.87rem 1.87rem .93rem
    }
}

@media screen and (max-width: 768px) {
    .l-Header__NaviLevel2 {
        padding: 8vw 8vw 4vw
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__NaviLevel3 {
        padding: .93rem 1.87rem
    }
}

@media screen and (max-width: 768px) {
    .l-Header__NaviLevel3 {
        padding: 4vw 8vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-Header__NaviLevel4 {
        margin-top: 1.25rem;
        padding-left: .93rem
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__NaviLevel4 {
        padding-left: 2.5rem
    }
}

@media screen and (max-width: 768px) {
    .l-Header__NaviLevel4 {
        padding-left: 10.66vw
    }
}

.l-Header__NaviLevel4--Item {
    position: relative
}

.l-Header__NaviLevel4--Item::before {
    content: '-';
    position: absolute;
    left: 0;
    z-index: 1
}

@media print, screen and (min-width: 1025px) {
    .l-Header__NaviLevel4--Item {
        padding-left: .93rem
    }

    .l-Header__NaviLevel4--Item::before {
        top: 0
    }

    .l-Header__NaviLevel4--Item + .l-Header__NaviLevel4--Item {
        margin-top: 1.25rem
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__NaviLevel4--Item {
        padding-left: .93rem
    }

    .l-Header__NaviLevel4--Item::before {
        top: .93rem
    }

    .l-Header__NaviLevel4--Item a {
        padding-top: .93rem;
        padding-bottom: .93rem
    }
}

@media screen and (max-width: 768px) {
    .l-Header__NaviLevel4--Item {
        padding-left: 4vw
    }

    .l-Header__NaviLevel4--Item::before {
        top: 4vw
    }

    .l-Header__NaviLevel4--Item a {
        padding-top: 4vw;
        padding-bottom: 4vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-Header__NaviChild a:hover {
        color: #273846;
        text-decoration: none
    }
}

@media print, screen and (min-width: 1025px) {
    .l-Header__NaviChild .l-header-sub-nav__item::before {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%)
    }
}

@media print, screen and (min-width: 1025px) {
    .l-Header__SearchBtn {
        display: none;
        text-align: left
    }

    .is-change .l-Header__SearchBtn {
        display: block;
        text-align: center
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__SearchBtn {
        width: 3.56rem;
        height: 3.56rem
    }

    .l-Header__SearchBtn .p-Icon--Search {
        width: .87rem;
        fill: #273846;
        position: absolute;
        top: 30%;
        left: 50%;
        -webkit-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);
        transition: all .3s ease
    }

    .is-top .is-rev .l-Header__SearchBtn .p-Icon--Search {
        fill: #273846
    }

    .is-top .is-rev:not(.is-3rd) .l-Header__SearchBtn .p-Icon--Search {
        fill: #fff
    }

    .l-Header__SearchBtn.is-searchOpen .p-Icon--Search {
        background: transparent
    }

    .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::before, .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::after {
        content: '';
        width: 1rem;
        height: 1.5px;
        padding-top: 0;
        position: absolute;
        background: #273846;
        transition: all .3s ease
    }

    .is-top .is-rev .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::before, .is-top .is-rev .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::after {
        background: #273846
    }

    .is-top .is-rev:not(.is-3rd) .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::before, .is-top .is-rev:not(.is-3rd) .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::after {
        background: #fff
    }

    .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0
    }

    .is-top .is-rev .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::before {
        background: #273846
    }

    .is-top .is-rev:not(.is-3rd) .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::before {
        background: #fff
    }

    .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0
    }

    .is-top .is-rev .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::after {
        background: #273846
    }

    .is-top .is-rev:not(.is-3rd) .l-Header__SearchBtn.is-searchOpen .p-Icon--Search::after {
        background: #fff
    }
}

@media screen and (max-width: 768px) {
    .l-Header__SearchBtn {
        width: 15.2vw;
        height: 15.2vw
    }

    .l-Header__SearchBtn::before, .l-Header__SearchBtn::after {
        width: 4.26vw;
        height: .4vw
    }

    .l-Header__SearchBtn::before {
        top: -1.6vw
    }

    .l-Header__SearchBtn::after {
        top: 1.6vw
    }

    .l-Header__SearchBtn .p-Icon--Search {
        width: 3.73vw
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__SearchBtn--Text {
        display: block;
        width: 100%;
        font-size: .62rem;
        text-align: center;
        bottom: .62rem;
        z-index: 1;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }

    .l-Header__SearchBtn--Text::before {
        content: '\691C\7D22';
        display: block
    }

    .is-en .l-Header__SearchBtn--Text::before {
        content: 'Search'
    }

    .is-searchOpen .l-Header__SearchBtn--Text::before {
        content: '\9589\3058\308B'
    }

    .is-en .is-searchOpen .l-Header__SearchBtn--Text::before {
        content: 'CLOSE'
    }
}

@media screen and (max-width: 768px) {
    .l-Header__SearchBtn--Text {
        font-size: 2.66vw;
        bottom: 2.66vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-Header__Navigation {
        display: none
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__Navigation {
        right: 0;
        z-index: 10;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%)
    }

    .l-Header__Navigation::before {
        content: '';
        width: 1px;
        height: 2.5rem;
        background: #273846;
        left: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%)
    }

    .is-top .is-rev .l-Header__Navigation::before {
        background: #273846
    }

    .is-top .is-rev:not(.is-3rd) .l-Header__Navigation::before {
        background: #fff
    }
}

@media screen and (max-width: 768px) {
    .l-Header__Navigation::before {
        height: 10.66vw
    }
}

.l-Header__GnavToggle {
    cursor: pointer;
    display: block;
    position: relative
}

@media screen and (max-width: 1024px) {
    .l-Header__GnavToggle {
        width: 3.56rem;
        height: 3.56rem;
        transition: all .3s ease
    }

    .is-navOpen .l-Header__GnavToggle {
        background: #00a0e9
    }
}

@media screen and (max-width: 768px) {
    .l-Header__GnavToggle {
        width: 15.2vw;
        height: 15.2vw
    }
}

.l-Header__GnavToggle--Line {
    display: block;
    background: #273846;
    transition: all .3s ease;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    z-index: 1
}

.is-top .is-rev .l-Header__GnavToggle--Line, .is-top .l-header:not(.is-scrollHide) .l-Header__GnavToggle--Line {
    background: #273846
}

.is-top .is-rev:not(.is-3rd) .l-Header__GnavToggle--Line {
    background: #fff
}

.l-Header__GnavToggle--Line::before, .l-Header__GnavToggle--Line::after {
    content: '';
    background: #273846;
    position: absolute;
    transition: all .3s ease
}

.is-top .is-rev .l-Header__GnavToggle--Line::before, .is-top .l-header:not(.is-scrollHide) .l-Header__GnavToggle--Line::before, .is-top .is-rev .l-Header__GnavToggle--Line::after, .is-top .l-header:not(.is-scrollHide) .l-Header__GnavToggle--Line::after {
    background: #273846
}

.is-top .is-rev:not(.is-3rd) .l-Header__GnavToggle--Line::before, .is-top .is-rev:not(.is-3rd) .l-Header__GnavToggle--Line::after {
    background: #fff
}

.is-navOpen .l-Header__GnavToggle--Line {
    background: transparent
}

.is-top .is-rev .is-navOpen .l-Header__GnavToggle--Line, .is-top .l-header:not(.is-scrollHide) .is-navOpen .l-Header__GnavToggle--Line {
    background: transparent
}

.is-top .is-rev:not(.is-3rd) .is-navOpen .l-Header__GnavToggle--Line {
    background: transparent
}

.is-navOpen .l-Header__GnavToggle--Line::before, .is-navOpen .l-Header__GnavToggle--Line::after {
    background: #fff
}

.is-top .is-rev .is-navOpen .l-Header__GnavToggle--Line::before, .is-top .l-header:not(.is-scrollHide) .is-navOpen .l-Header__GnavToggle--Line::before, .is-top .is-rev .is-navOpen .l-Header__GnavToggle--Line::after, .is-top .l-header:not(.is-scrollHide) .is-navOpen .l-Header__GnavToggle--Line::after {
    background: #fff
}

.is-top .is-rev:not(.is-3rd) .is-navOpen .l-Header__GnavToggle--Line::before, .is-top .is-rev:not(.is-3rd) .is-navOpen .l-Header__GnavToggle--Line::after {
    background: #fff
}

.is-navOpen .l-Header__GnavToggle--Line::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0
}

.is-navOpen .l-Header__GnavToggle--Line::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0
}

@media screen and (max-width: 1024px) {
    .l-Header__GnavToggle--Line {
        width: 1rem;
        height: 1.5px
    }

    .l-Header__GnavToggle--Line::before, .l-Header__GnavToggle--Line::after {
        width: 1rem;
        height: 1.5px
    }

    .l-Header__GnavToggle--Line::before {
        top: -.38rem
    }

    .l-Header__GnavToggle--Line::after {
        top: .37rem
    }
}

@media screen and (max-width: 768px) {
    .l-Header__GnavToggle--Line {
        width: 4.26vw;
        height: .4vw
    }

    .l-Header__GnavToggle--Line::before, .l-Header__GnavToggle--Line::after {
        width: 4.26vw;
        height: .4vw
    }

    .l-Header__GnavToggle--Line::before {
        top: -1.6vw
    }

    .l-Header__GnavToggle--Line::after {
        top: 1.6vw
    }
}

.l-Header__GnavToggle--Text {
    width: 100%;
    text-align: center;
    z-index: 1;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.l-Header__GnavToggle--Text::before {
    content: '\30E1\30CB\30E5\30FC';
    display: block;
    transition: all .3s ease
}

.is-en .l-Header__GnavToggle--Text::before {
    content: 'MENU'
}

.is-navOpen .l-Header__GnavToggle--Text::before {
    content: '\9589\3058\308B'
}

.is-en .is-navOpen .l-Header__GnavToggle--Text::before {
    content: 'CLOSE'
}

@media screen and (max-width: 1024px) {
    .l-Header__GnavToggle--Text {
        font-size: .62rem;
        bottom: .37rem
    }

    .is-navOpen .l-Header__GnavToggle--Text {
        color: #fff
    }
}

@media screen and (max-width: 768px) {
    .l-Header__GnavToggle--Text {
        font-size: 2.66vw;
        bottom: 1.6vw
    }
}

@media print, screen and (min-width: 1025px) {
    .l-Header__Close {
        display: none
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__Close {
        cursor: pointer;
        margin-top: 3.12rem;
        color: #fff;
        font-size: .62rem;
        text-align: center;
        position: relative
    }
}

@media screen and (max-width: 768px) {
    .l-Header__Close {
        margin-top: 13.33vw;
        font-size: 2.66vw
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__Close--Icon {
        display: block;
        width: 1rem;
        height: 1rem;
        position: relative;
        margin-right: auto;
        margin-left: auto
    }

    .l-Header__Close--Icon::before, .l-Header__Close--Icon::after {
        content: '';
        width: 1rem;
        height: .09rem;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1
    }

    .l-Header__Close--Icon::before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .l-Header__Close--Icon::after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}

@media screen and (max-width: 768px) {
    .l-Header__Close--Icon {
        width: 4.26vw;
        height: 4.26vw
    }

    .l-Header__Close--Icon::before, .l-Header__Close--Icon::after {
        width: 4.26vw;
        height: .4vw
    }
}

@media screen and (max-width: 1024px) {
    .l-Header__Close--Text {
        margin-top: 1.25rem
    }
}

@media screen and (max-width: 768px) {
    .l-Header__Close--Text {
        margin-top: 5.33vw
    }
}